<a href="https://colab.research.google.com/github/Shicamaru09/Python_essential/blob/main/MODULO%201%3A%20INTRODUCCI%C3%93N%20A%20LA%20PROGRAMACI%C3%93N/Clase6_Estructuras_Repetitivas_I_Soluci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

1.

In [ ]:
bancos = ["Santander", "BBVA", "Scotiabank", "Interbank", "BCP"]
print(bancos)

2.

In [ ]:
print(bancos[2])  # Scotiabank

3.

In [ ]:
bancos.append("BanBif")
print(bancos)

4.

In [ ]:
del bancos[1]
print(bancos)

5.

In [ ]:
bancos.sort()
print(bancos)

# Condicionales IF, ELIF, ELSE

1.

In [ ]:
ingreso = 3500
if ingreso > 3000:
    print("Cliente de ingreso alto")
else:
    print("Cliente de ingreso medio/bajo")

2.

In [ ]:
edad = 22
if edad >= 21:
    print("Elegible para tarjeta")
else:
    print("No elegible")

3.

In [ ]:
score = 700
if score >= 750:
    print("Excelente")
elif score >= 650:
    print("Bueno")
else:
    print("Riesgo alto")

4.

In [ ]:
saldo = -150
if saldo < 0:
    print("Cuenta en sobregiro")
else:
    print("Cuenta en positivo")

5.

In [ ]:
tasa1 = 3.5
tasa2 = 4.2
if tasa1 < tasa2:
    print("Tasa1 es más competitiva")
else:
    print("Tasa2 es mejor")

6.

In [ ]:
productos = 4
if productos > 3:
    print("Cliente full-banking")
else:
    print("Cliente en expansión")

7.

In [ ]:
deposito = 12000
if deposito >= 10000:
    print("Debe reportarse")
else:
    print("No requiere reporte")

# Diccionarios

1.

In [ ]:
cliente = {"nombre": "Ana", "saldo": 4500}
print(cliente)

2.

In [ ]:
print(cliente["saldo"])

3.

In [ ]:
cliente["saldo"] = 5000
print(cliente)

4.

In [ ]:
cliente["tarjeta_credito"] = "Visa"
print(cliente)

5.

In [ ]:
del cliente["nombre"]
print(cliente)

# FOR

1.

In [ ]:
tasas = [2.5, 3.0, 3.2]
for tasa in tasas:
    print(f"Tasa: {tasa}%")

2.

In [ ]:
saldos = [1000, 2500, 3000]
total = 0
for saldo in saldos:
    total += saldo
print("Saldo total:", total)

3.

In [ ]:
precios = [50, 80, 120]
for precio in precios:
    nuevo_precio = precio * 0.9
    print("Precio con descuento:", nuevo_precio)

4.

In [ ]:
productos = [80, 120, 150, 90]
contador = 0
for producto in productos:
    if producto > 100:
        contador += 1
print("Productos caros:", contador)

5.

In [ ]:
productos = [80, 120, 150, 90]
contador = 0
for producto in productos:
    if producto > 100:
        contador += 1
print("Productos caros:", contador)

6.

In [ ]:
clientes = {
    "001": 1500,
    "002": 2500,
    "003": 3000
}
for id_cliente, saldo in clientes.items():
    if saldo > 2000:
        print(f"Cliente {id_cliente} tiene saldo alto: {saldo}")

7.

In [ ]:
emails = ["ana@gmail.com", "luis@yahoo.com", "maria@gmail.com"]
contador = 0
for email in emails:
    if email.endswith("@gmail.com"):
        contador += 1
print("Clientes Gmail:", contador)

# Mini Proyecto

In [ ]:
clientes = {
    "001": {"nombre": "Ana", "ingreso_mensual": 4000, "deuda": 10000, "productos": 3},
    "002": {"nombre": "Luis", "ingreso_mensual": 2500, "deuda": 5000, "productos": 1},
    "003": {"nombre": "Sofía", "ingreso_mensual": 3200, "deuda": 20000, "productos": 2},
    "004": {"nombre": "Carlos", "ingreso_mensual": 5000, "deuda": 8000, "productos": 4},
    "005": {"nombre": "María", "ingreso_mensual": 2800, "deuda": 3000, "productos": 2}
}

for cliente in clientes.values():
    ingreso_anual = cliente["ingreso_mensual"] * 12  # Calculamos ingreso anual

    if ingreso_anual > 36000 and cliente["deuda"] < 15000 and cliente["productos"] >= 2:
        resultado = "Elegible"
    elif ingreso_anual > 36000 or cliente["deuda"] < 15000 or cliente["productos"] >= 2:
        resultado = "Requiere Evaluación"
    else:
        resultado = "No Elegible"

    print(f"Cliente: {cliente['nombre']} - Resultado: {resultado}")